dist
node_modules
.next
.nuxt
.output
logs
*.log
.DS_Store
.fleet
.idea
.vscode
.env
.env.*
!.env.example
.npmrc
.claude
coverage/
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.vitest-attachments
